{% extends "layout.html" %}

{% block title %}
HOME
{% endblock %}

{% block body %}
<div id="login-box" style="text-align: center; align-items: center;">
    
    <img src="static/VET_fianl_03.png" alt="Logo" style="width: 300px; height: 200px" class="rounded">

    <div class="frame">
  
        <button class="log"><span><a class="nav-link" href="/login" id="btn3">Login</a></span></button>
        <button class="reg"><span><a class="nav-link" href="/register" id="btn4">Register</a></span></button>
        <button class="reg"><span><a class="nav-link" href="/report" id="btn4">Report an animal injury</a></span></button>
    </div>

</div>
{% endblock %}