{% extends "layout.html" %}

{% block title %}
HOME
{% endblock %}

{% block body %}
<div id="login-box" style="text-align: center; align-items: center; width: 550px; height: 460px">
    
    <img src="../static/images/VET_logo.png" alt="Logo" style="width: 300px; height: 200px" class="rounded">

    <div class="frame">
  
        <button class="log" style="width: 110px; text-align: center; margin: 30px 45px 0 30px; padding-top: 0px; padding-bottom: 0px; height: 43px"><span><a class="nav-link" href="/login" id="btn3">Login</a></span></button>
        <button class="log" style="width: 110px; text-align: center; margin: 30px 30px 40px 8px;"><span><a class="nav-link" href="/register" id="btn3">Register</a></span></button>
        <a class="nav-link" href="/report" id="btn4"><button class="reg" style="height: 50px; width: 280px; margin-top: -25px; margin-bottom:-10px;">Help an injured animal</button></a>
        <br>
        <a href="/addhosp"><i>Add your clinic</i></a>  
    </div>

</div>
{% endblock %}