<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
        <link href="../static/Login.css" rel="stylesheet">
    </head>
    <body>
    <div id="login-box">
        <div class="left">
        <h1><b>Login</b></h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username"  autofocus/>
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" name="submit" value="login" />
            </form>
        </div>
        
        <div class="right">
            <div class="centered">
            <img src="../static/pngwing.png">
            </div>
            
        
        </div>
    
    </div>
    </body>
  </html>