<!DOCTYPE html>
<html>
    <head>
        <title>
            VetConnect: LOGIN
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap">
        <link href="../static/Login.css" rel="stylesheet">
    </head>
    <body>
    <div id="login-box">
        <div class="left">
        <h1><b>Login</b></h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username"  autofocus/>
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" name="submit" value="login" />
            </form>
            <a href="\" id="btn4"><i class="fa fa-fw fa-home"  style="margin-top: 110px"></i></a>
        </div>
        
        <div class="right">
            <div class="centered">
            <img src="../static/images/pngwing.png">
            </div>
            
        
        </div>
    
    </div>
    </body>
  </html>