<!DOCTYPE html>
<html>
    <head>
        <title>
            VetConnect: REGISTER
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/Register.css" rel="stylesheet">
    </head>
    <body>
    <div id="login-box">
        <div class="left">
        <h1 style="color: black;">Register</h1>
        
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username"  autocomplete="off" autofocus/>
            <input type="text" name="email" placeholder="Email ID"  autocomplete="off"/>
            <input type="text" name="contact" placeholder="Contact number"  autocomplete="off"/>
            <input type="password" name="password" placeholder="Password" autocomplete="off"/>
            <input type="password" name="confirm_password" placeholder="Retype password"  autocomplete="off"/>
            
            <input type="submit" name="signup_submit" value="Sign me up" />
        </form>
        <a href="\" id="btn4"><i class="fa fa-fw fa-home"  style="font-size: 23px"></i></a>
    </div>
        
        <div class="right">
            <div class="centered">
                <img src="../static/images/pngwing.png">
            </div>
        </div>
    
    </div>
    </body>
  </html>