{% extends "layout.html" %}

{% block title %}
USER HOME
{% endblock %}

{% block body %}
<div>
    <div class="container">
        <div style="display: inline-block; width: 25%; vertical-align: middle; margin: 2% 0 0 -3%">
            <a href="/" class="navbar-logo"><img src="../static/images/VET_logo.png"></a>
        </div>
        <div style="display: inline-block; width: 60%; vertical-align: middle; margin: 2% 0 0 5px; padding-left: 19%">
            <h2>Hi there, {{ user }}</h2>
        </div>
        <div style="display: inline-block; width: 10%; vertical-align: middle; padding: 20px 0px 0 5px; text-align: right; margin-left: 25px">
            <ul class="navbar-links">
              <li><a href="/">Logout</a></li>
            </ul>
        </div>
      
    </div>
    <div class="white-box" style="height: auto; margin-top: 10px; width: 75%">
        <h2 style="text-align: center; color: aliceblue;">YOUR PETS</h2>
        <table class="table table-borderless">
            {% if petdetails %}
            <thead>
                <tr>
                    <td>Sno.</td>
                    <td>Name</td>
                    
                    <td>Weight</td>
                    <td style="text-align: center">Vaccination</td>
                    <td style="text-align: center">Notes</td>

                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for element in petdetails %}
                <tr>
                    <td><b>{{ element['PetID'] }}</b></td>
                    <td style="width: 150px"><b>{{ element['Petname'] }}</b> <sub>{{ element['Age'] }} yrs</sub></td>
                    <td style="text-align: center; padding-right: 25px;">{{ element['Weight'] }} kg</td> 
                    {% if element['Vaccinated'] == "on" %}
                    <td style="text-align: center">✔</td>
                    {% else %}
                    <td style="text-align: center">❌</td>
                    {% endif %}
                    <td><b>{{ element['Notes'] }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    {% if petdetails %}
    <div class="modibtns">
        <a href="/addpet" id="btn4"><button class="reg" style="width: 150px; height: 45px; margin: 10px 40px 0 15px"><span>Add</span></button></a>
        <a href="/updatepet" id="btn4"><button class="reg" style="width: 150px; height: 45px; margin: 10px 40px 0 0"><span>Update</span></button></a>
        <a href="/deletepet" id="btn4"><button class="reg" style="width: 150px; height: 45px; margin: 10px 20px 0 0"><span>Remove</span></button></a>
    </div>
    {% else %}
    <div class="modibtns">
        <a href="/addpet" id="btn4"><button class="reg" style="width: 500px; height: 50px; margin: 10px 10px 0 10px"><span>ADD YOUR PET</span></button></a>
    </div>
    {% endif %}
</div>
{% endblock %}
